html,
body {
    height: 100%;
}

body {
    padding-top: 80px;
}
/*header*/

.navbar-toggle {
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 0px;
}

.navbar-custom .form-control:focus {
    border-color: #fefefe;
    outline: 0;
    -webkit-box-shadow: inset 0 0 0;
    box-shadow: inset 0 0 0;
}

.input-custom {
    padding: 10px 10px 0px 10px;
}

.btn-link {
    color: #ebebeb;
}

.btn-link:focus,
.btn-link:hover {
    color: #ebebeb;
}

@media (min-width: 1200px) {
    .hidden-lg {
        display: block!important;
    }
}

@media (max-width: 1199px) and (min-width: 992px) {
    .hidden-md {
        display: block!important;
    }
}

@media (max-width: 991px) {
    .navbar-toggle {
        display: block;
    }
}
/*map*/

#map-canvas {
    width: 100%;
    height: calc(100% - 0);
    position: absolute;
    right: 0;
    top: 78px;
    bottom: 0;
}

.labels {
    color: green;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    white-space: nowrap;
}

.icon-google {
    background-image: url("http://maps.google.com/mapfiles/ms/icons/red-dot.png");
    width: 32px;
    height: 32px;
    transform: scale(.8, .8);
    margin-top: -5px;
}

.icon-foursquare {
    background-image: url("http://maps.google.com/mapfiles/ms/icons/blue-dot.png");
    width: 32px;
    height: 32px;
    transform: scale(.8, .8);
    margin-top: -5px;
}
/*list view*/

#map-list {
    height: 100%;
    overflow-y: scroll;
    width: 300px;
}

.navmenu-default {
    background-color: rgba(0, 0, 0, 0.5)!important;
}

.list-group {
    padding-top:80px;
}

.list-group-item {
    padding-right: 0px;
}

.glyphicon {
    padding-right: 5px;
}

.google-mini-icon {
    color: firebrick;
}

.foursquare-mini-icon {
    color: dodgerblue;
}