html,
body {
    height: 100%;
}

body {
    padding-top: 50px;
    /*padding for navbar*/
}

.navbar-custom .icon-bar {
    background-color: #fff;
}

.navbar-custom {
    background-color: #30769d;
    color: #fff;
}

.navbar-custom li>a:hover,
.navbar-custom li>a:focus {
    background-color: #49bfff;
}

.navbar-custom a {
    color: #fefefe;
}

.navbar-custom .form-control:focus {
    border-color: #49bfff;
    outline: 0;
    -webkit-box-shadow: inset 0 0 0;
    box-shadow: inset 0 0 0;
}

#map-list {
    height: 50%;
    overflow-y: scroll;
    width: 300px;
}

#map-canvas {
    width: 100%;
    height: calc(100% - 0);
    position: absolute;
    right: 0;
    top: 50px;
    bottom: 0;
}

.input-custom {
    padding: 8px 15px 8px 8px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #30769d;
}

.footerlogo {
    top: 5px;
}

.btn-group {
    padding-top: 8px;
}

.btn-link {
    color: white;
}

.labels {
    color: green;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    white-space: nowrap;
}

.list-group {
    padding: 5px;
    padding-left: 80px;
}

.list-group-item {
    padding-right: 0px;
}

.icon-google {
    background-image: url("http://maps.google.com/mapfiles/ms/icons/red-dot.png");
    width: 32px;
    height: 32px;
    transform: scale(.8, .8);
    margin-top: -5px;
}

.icon-foursquare {
    background-image: url("http://maps.google.com/mapfiles/ms/icons/blue-dot.png");
    width: 32px;
    height: 32px;
    transform: scale(.8, .8);
    margin-top: -5px;
}

.glyphicon {
    padding-right: 5px;
 }
.google-mini-icon {
    color: firebrick;
}

.foursquare-mini-icon {
    color: dodgerblue;
}