html,
body {
    width: 100%;
    height: 100%;
}

body {
    padding-top: 50px;
}

/**
 * header bar
 */
.navbar-toggle {
    float: left;
    margin: 10px 0px 0px 10px;
}

.input-custom {
    padding: 10px 10px 0px 10px;
}

.textentry {
    display: inline;
}

a.searchicon{
    color:black;
    cursor: pointer;
    padding-left: 5px;
}

a.searchicon:hover,
a.searchicon:focus {
    color: dodgerblue;
    text-decoration:none;
}

/**
 * Google map
 */
#map-canvas {
    width: calc(100% - 200);
    height: calc(100% - 0);
    position: absolute;
    right: 0px;
    top: 48px;
    bottom: 0px;
    left: 200px;
}

.labels {
    color: green;
    background-color: white;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    width: 20px;
    height: 20px;
    border: 1px solid gray;
    white-space: nowrap;
}

.icon-foursquare {
    background-image: url("http://maps.google.com/mapfiles/ms/icons/blue-dot.png");
    width: 32px;
    height: 32px;
    transform: scale(.8, .8);
    margin-top: -5px;
}

/**
 * results list
 */
.navmenu {
    background-color: black!important;
    width: 200px;
    top: 50px;
}

.wordmark {
    width: 150px;
    height: auto;
    top: 0px;
}

.list-group {
    margin-top: 4px;
}

.list-group-item,
.list-group-item:last-child {
    padding-top: 5px;
    padding-left: 20px;
    height: 40px;
    background-color: transparent!important;
    border: none;
    border-radius: 0px;
    border-bottom: 2px solid rgba(235, 235, 235, 0.5);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-bottom: 0px;
}

a.list-group-item,
a.list-group-item:hover,
a.list-group-item:focus {
    color: white;
}

.glyphicon {
    padding-right: 5px;
}

.foursquare-mini-icon {
    color: dodgerblue;
    padding-top: 8px;
}

.resultname {
    padding-top: 8px;
}

.small {
    cursor: pointer;
}

/**
 * responsive styles
 */

/*window width less than 991*/
@media (max-width: 991px) {
    .navbar-toggle {
        display: none;
    }
    .offcanvas-xs {
        display: block;
    }
}

/*window width less than 414*/
@media (max-width: 414px) {
    .navbar-toggle {
        display: block;
    }
    #map-canvas {
        left: 0px;
    }
    .offcanvas-xs {
        display: none;
    }
    .navmenu {
        background-color: rgba(0, 0, 0, 0.75)!important;
    }
}