#map-canvas {
    width: 100%;
    height: calc(100% - 0);
    position: absolute;
    right: 0;
    top: 81px;
    bottom: 50px;
}

@media (min-width: 768px) {
    #map-canvas {
        width: 100%;
        height: calc(100% - 0);
        position: absolute;
        right: 0;
        top: 51px;
        bottom: 50px;
    }
}

.input-custom {
    padding: 8px 15px 8px 8px;
}

.brand-custom {
    padding: 15px 10px 10px 15px;
    height: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: #ededed;
}

.footerlogo {
    top: 5px;
}

.btn-group {
    padding-top: 8px;
}

.labels {
    color: green;
    font-family: "Lucida Grande", "Arial", sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    width: 40px;
    height: 40px;
    white-space: nowrap;
}